@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quantico&display=swap");

.main-div {
  background-image: url("arcade-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-div {
  margin:2rem;
  opacity: 0.75;
  border: 2px solid rgb(61, 55, 55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width:90%;
  height:auto;
  background-color: white;
}
.round-scores-div {
  max-width:80%;
  padding: 5px;
  color: rgb(61, 55, 55);
}
.round-scores-div h1 {
  border: 5px solid rgb(61, 55, 55);
  font-size: 3.5vw;
  font-weight: normal;
  padding: 0.5rem;
  margin:2rem;
}
.round-scores-div p {
  font-size: 2.5vw;
}
.button {
  font-size: 100%;
  border-radius: 20px;
  width: 10vw;
  height: 50px;
  align-items: center;
  margin: auto;
  cursor: pointer;
  min-width: 80px;
  font-family: "Press Start 2P", cursive;
}
button:hover {
  transform: scale(1.1);
  background-color: rgb(88, 173, 125);
}
.table-div {
  border: 2px solid rgb(61, 55, 55);
  margin: .5rem;
  display: flex;
  align-items: center;
  max-width: 90%;
}
.table-div h1 {
  font-size: 2.5vw;
}
.table-div fieldset {
  margin: 1rem 1rem;
  font-weight: bold;
  font-size: 100%;
  padding: 0;
  max-width: 100%;
}
.table-div table td {
  font-size: 2.5vw;
  border: 5px solid rgb(61, 55, 55);
  padding: 5px;
}
.table-div fieldset legend {
  font-size: 3.5vw;
}
